html{
  font-size: 10px;
}
header{
  display: flex;
  flex: row;
  text-align: right;
}

body{
  padding-left: 20%;
  padding-right: 20%;
  background: #f9f5d6;
  background-repeat: no-repeat;
  background-size: cover;
}

#CollegeLogo img{
  height: 10rem;
  width: 35rem;

}

#Collegename{
  font-size: 5rem;
  width: 100%;
  text-align: right;
  font-family: fantasy;
  color: black;
}

#Doctorname{
  font-size: 5rem;
  font-family: Times;
  font-weight: bold;
}

#PhDtitle{
  font-size: 2rem;
}

#sideNav{
  font-size: 1.5rem;
  color: black;
}

#dropdown{
  font-size: 2rem;
}
#navbarNavDropdown{
  font-size: 2rem;
  background: linear-gradient(to bottom, #f9f5d6, white);
  border-bottom: 0.05rem solid black;
}

#Phdimage img{
  height: 40rem;
  width: 40rem;
}

#mainsubheading{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: underline;
}

#bullet1{
  font-size: 2.5rem;
}
#bullet2{
  font-size: 2.5rem;
}
#bullet3{
  font-size: 2.5rem;
  padding-bottom: 15px;
}
#publication{
  font-size: 2.5rem;
}
#remaining{
  font-size: 2.5rem;
}
#maintext {
  border-left: 1rem solid #c9c9c9;
  font-size: 5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

#textgeneral{
  font-size: 2.2rem;
}

#heading1{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
#text1 {
  font-size: 1.92rem;
}

#heading2{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
#text2{
  font-size: 2.09rem;
}

#heading3{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
#subheading3{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
#text3{
  font-size: 2.4rem;
}

#heading4{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
#subheading41{
  text-align: left;
  font-size: 3rem;
  font-weight: 500;
  text-decoration: underline;
}
#subheading42{
  text-align: left;
  font-size: 3rem;
  font-weight: 500;
  text-decoration: underline;
}
#subheading43{
  text-align: left;
  font-size: 3rem;
  font-weight: 500;
  text-decoration: underline;
}
#text41{
  font-size: 2.2rem;
}
#text42{
  font-size: 2.2rem;
}
#text43{
  font-size: 2.2rem;
}


.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

@import url(https:fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;

}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}


#thanks {
  background: radial-gradient(#fce0e9,#f9f5d6);
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section01 {
  background: radial-gradient(#f9eb98, #f9f5d6);
  height: auto;
}
#section01 a {
  padding-top: 60px;
  margin-left: -38px;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid black;
  border-radius: 100%;
  box-sizing: border-box;
}
#section01 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section02 {
  background: radial-gradient(#cdffa8,#f9f5d6);
  height: auto;
}
#section03 {
  background: radial-gradient(#c1fff8,#f9f5d6);
  height: auto;
}
#section04 {
  background: radial-gradient(#dcccf9,#f9f5d6);
  height: auto;
}

#section02 a {
  padding-top: 60px;
  margin-left: -38px;
}
#section02 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid black;
  border-radius: 100%;
  box-sizing: border-box;
}
#section02 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



#section03 a {
  padding-top: 60px;
  margin-left: -38px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid black;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



#section04 a {
  padding-top: 60px;
  margin-left: -96px;
}
#section04 a span {
  position: absolute;
  top: 25px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(135deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(135deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(135deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(135deg) translate(0, 0);
  }
  20% {
    transform: rotate(135deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(135deg) translate(0, 0);
  }
}
